* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    cursor: default;

}

body {
    display: flex;
    flex-direction: column;

    align-items: stretch;
    justify-content: flex-start;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #282828;
    color: #DCDCDC;

    font: 1em/1.2em "SF Display",Helvetica,Sans-Serif;

    cursor: default;

    --ui-shadow-color: rgba(0,0,0,0.12);
    --ui-spot-color: rgba(225,225,225,0.1);

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;

}

#app {

    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

input[type="text"] {

    background: #4C4C4C;
    color: #DCDCDC;
    border: none;
    border-radius: 3px;

    min-width: 200px;
    display: block;

    padding: 5px 10px;
    box-shadow: 0 0 5px inset rgba(0,0,0,0.32);

}

.ui-sidebar {

    display: none;
    width: 250px;
    
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;

    padding: 0;
    padding-top: 20px;

    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

}

.sidebar .ui-sidebar {
    display: flex;
}

.ui-sidebar-content {

    display: block;

    overflow-y: auto;
    overflow-x: hidden;

    flex-grow: 1;

}

.ui-toolbar {

    display: flex;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;

    height: 50px;
    padding: 5px 0;

    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

}

.ui-toolbar-title {

    display: flex;

    padding: 0 20px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.ui-toolbar-title .ui-text {

    font-size: 1.3em;
    font-weight: bold;

}

.ui-toolbar-title .ui-button {

    margin-left: 20px;

}

.sidebar .ui-toolbar-title {
    width: 250px;
}

.ui-toolbar-content{

    display: flex;
    flex-grow: 1;

    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

}

.ui-toolbar-left,
.ui-toolbar-right {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    padding: 0 10px;

    flex-grow: 1;

}

.ui-toolbar-left {
    justify-content: flex-end;
}

.ui-toolbar-status {

    display: block;
    position: relative;
    min-width: 200px;
    flex-grow: 0.5;

    background: #4C4C4C;

    border-radius: 3px;

    font-size: 0.8em;
    padding: 2px 4px;

    text-align: center;

}

.ui-toolbar-status-indeterminate {
    
    display: block;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: hidden;
}

.ui-toolbar-status-indeterminate-spot {

    display: block;
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;

    width: 50px;
    margin-left: -25px;

    background: linear-gradient(to right, transparent 0%, rgba(225,225,225,0.2) 50%, transparent 100%);

    animation: toolbar-status-indeterminate-spot 1.5s ease-in-out infinite alternate;

}

@keyframes toolbar-status-indeterminate-spot {
    0% {
        left: 0%;
    }
    100% {
        left: 100%;
    }
}

.ui-toolbar-status-determinate-once {
    
    display: block;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: hidden;
}

.ui-toolbar-status-determinate-once-spot {

    display: block;
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;

    width: 50px;
    margin-left: -25px;

    opacity: 0;

    background: linear-gradient(to right, transparent 0%, rgba(225,225,225,0.2) 50%, transparent 100%);

    animation: toolbar-status-determinate-once-spot 1.5s ease-in-out;

}

@keyframes toolbar-status-determinate-once-spot {
    0% {
        left: -25px;
        opacity: 1;
    }
    100% {
        left: calc(100% + 25px);
        opacity: 1;
    }
}

.ui-text {
    cursor: default;
}

.ui-button {
    display: flex;
    position: relative;
    padding: 7px 14px;
    border-radius: 5px;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.ui-button.active {
    background: #4C4C4C;
}



.ui-button.round {

    width: 30px;
    height: 30px;

    border-radius: 100%;
    background: #4C4C4C;

    overflow: hidden;

}

.ui-button:hover,
.ui-button.round:hover {
    animation: list-item-spring 0.8s;
    background: #20304F;
    color: #DCDCDC;
}

.ui-spot {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: none;
    pointer-events: none;
}

:hover > .ui-spot {
    display: block;
}

.ui-icon + .ui-text {
    margin-left: 0.5em;
}

.ui-div {
    flex-grow: 1;
}

.ui-content {
    
    display: block;
    position: absolute;

    left: 0;
    top: 50px;
    right: 30px;
    bottom: 0;

}

.sidebar .ui-content {

    left: 250px;

}

.ui-hsplitter,
.ui-vsplitter {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

}

.ui-vsplitter {

    flex-direction: column;

}

.ui-hsplitter .ui-splitter-handle {

    display: block;
    width: 6px;
    height: 100%;
    /* background: #1F1F1F; */
    cursor: col-resize;
    position: relative;

}

.ui-hsplitter .ui-splitter-knob {

    display: block;
    width: 4px;
    height: 16px;
    background: #1F1F1F;
    position: absolute;
    top: calc(50% - 8px);
    left: 1;
    border-radius: 3px;

}

.ui-vsplitter .ui-splitter-handle {

    display: block;
    height: 6px;
    width: 100%;
    /* background: #1F1F1F; */
    cursor: row-resize;

}

.ui-vsplitter .ui-splitter-knob {

    display: block;
    height: 4px;
    width: 16px;
    background: #1F1F1F;
    position: absolute;
    left: calc(50% - 8px);
    top: 1px;
    border-radius: 3px;

}

.ui-splitter-pane {

    position: relative;

}

.ui-hsplitter > .ui-splitter-pane:last-child,
.ui-vsplitter > .ui-splitter-pane:last-child {
    flex-grow: 1;
}

.ui-notebook-tabs {

    display: flex;
    position: absolute;

    top: 50px;
    right: 0;
    bottom: 0;
    width: 30px;

    padding: 5px 0;

    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

}

.ui-notebook-tab {
    display: flex;
    position: relative;
    padding: 7px 14px;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: default;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin: 3px 0;
}

.ui-notebook-tab.active {
    background: #4C4C4C;
    color: #DCDCDC;
}

.ui-notebook-tab:hover {
    animation: list-item-spring 0.8s;
    background: #20304F;
    color: #DCDCDC;
}

.ui-outline {

    display: block;
    padding: 0 10px;

}

.ui-outline-item {

    display: block;
    overflow: visible;

}

.ui-outline-children {

    display: none;
    padding-left: 20px;

}

.ui-outline-children.expanded {

    display: block;

}

.ui-outline-button {

    display: flex;
    position: relative;
    padding: 10px 15px;
    border-radius: 5px;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: default;

    margin: 4px 0;

}

.ui-outline-item.active > .ui-outline-button {
    background: #4C4C4C;
}

.ui-outline-button:hover,
.ui-outline-item.active > .ui-outline-button:hover {
    animation: list-item-spring 0.8s;
    background: #20304F;
    color: #DCDCDC;
}



.ui-outline-button .menu {
    display: none;
}

.ui-outline-button:hover .menu,
.ui-outline-item.active > .ui-outline-button .menu {
    display: block;
}

.ui-outline-enter-active, .ui-outline-leave-active {
    transition: all 1s;
}

.ui-outline-enter, .ui-outline-leave-to {
    opacity: 0;
    transform: translateX(-50px);
}

.ui-outline-move {
    transition: transform 1s;
}

.ui-outline-leave-active {
    position: absolute;
}


.ui-container {

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.ui-vstack {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

}

.ui-hstack {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

}

.ui-editor {

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow: auto;

}
.ui-editor .editor {
    height: 100%;
    width: 100%;
}

.ui-editor .editor > .CodeMirror {
    height: 100%;
    width: 100%;
    background: none;
}

.ui-register-editor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 6px;

}

.ui-register-editor .ui-button {
    padding: 2px 10px;
}

.ui-register {
    display: flex;
    flex-direction: row;
    min-width: 100px;
    font-size: 0.8em;
    font-family: monospace;
}

.ui-register strong {
    font-weight: normal;
    width: 50px;
    color: #5B6A88;
    text-align: right;
    margin-right: 3px;
    
    font-weight: bold;
}

.ui-register .ui-vstack {
    flex-grow: 1;
}
.ui-register p {
    flex-grow: 1;
}

.ui-register p + p{
    line-height: 1;
}

.ui-memory-assistant {
    position: relative; 
    flex-grow: 1;
}

.ui-menu {

    display: flex;
    border-radius: 5px;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 5px 0;
    min-width: 150px;
    box-shadow: 0 0 5px var(--ui-shadow-color);
    background: #313131;
    z-index: 1000;
}

.ui-menu-item {
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin: 1px 5px;
    padding: 5px 15px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.ui-menu-item:hover {
    background: #20304F;
    color: #DCDCDC;
}
.ui-menu-item .ui-icon {
    height: 1.2em;
    margin-top: -0.1em;
}
.ui-menu-item .ui-icon + .ui-text {
    margin-left: 0.5em;
}
.ui-menu-item.disabled {
    color: #797979;
    background: none;
}
.ui-menu-item.disabled .ui-spot {
    display: none;
}

.ui-menu-separator {
    display: block;
    height: 1px;
    margin: 5px 0;
    background: #3A3A3A;
}

.ui-menu-section {
    display: block;
}

.ui-menu-section + .ui-menu-section {
    margin-top: 3px;
    padding-top: 3px;
    border-top: 1px solid #3A3A3A;
}

.ui-menu-section > .ui-text {

    display: block;
    padding: 5px 15px;
    margin: 0 5px;
    color: #676767;

}

.ui-menu-view > .ui-menu {
    position: absolute;
}

.ui-code-hint {

    display: flex;
    border-radius: 5px;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 5px 0;
    min-width: 150px;
    box-shadow: 0 0 5px var(--ui-shadow-color);
    background: #313131;
    z-index: 1000;
}

.ui-code-hint-view > .ui-code-hint {
    position: absolute;
}
  
.ui-list-item {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 10px 15px;
    margin: 4px 10px;
    border-radius: 5px;
}

.ui-list-item.selected {
    background: #4C4C4C;
}

.ui-list-item:hover {
    animation: list-item-spring 0.8s;
    background: #20304F;
    color: #DCDCDC;
    z-index: 100;
}

.ui-list-item strong {
    display: block;
    font-weight: normal;
}

.ui-list-item strong + p {
    margin-top: 5px;
}

.ui-list.no-animation .ui-list-item:hover {
    animation: none;
}

.ui-list-item.disabled,
.ui-list-item.disabled:hover {

    color: #797979;
    animation: none;
    background: none;
    box-shadow: none !important;

}

.ui-list-item.disabled .ui-spot,
.ui-list-item.disabled:hover .ui-spot {
    display: none;
}

.ui-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.ui-list-header {

    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px 15px;
    margin: 4px 10px;
    margin-top: 20px;

}

.ui-list-header > .ui-text {
    font-weight: bold;
}

.ui-list-header .ui-button.round{

    background: none;
    margin-right: -10px;
    color: #797979;

}

.ui-list-header .ui-button.round:hover {
    background: #20304F;
    color: #DCDCDC;
}

.ui-button.disabled,
.ui-button.disabled:hover {

    color: #797979;
    animation: none;
    background: none;
    box-shadow: none !important;

}

.ui-button.disabled .ui-spot,
.ui-button.disabled:hover .ui-spot {
    display: none;
}

.list-enter-active, .list-leave-active {
    transition: all 1s;
}

.list-enter, .list-leave-to {
    opacity: 0;
}

.list-move {
    transition: transform 1s;
}

.list-leave-active {
    position: absolute;
}



.ui-dialog {

    display: flex;
    position: absolute;

    z-index: 999;
    box-shadow: 0 0 5px var(--ui-shadow-color);
    background: #313131;
    background: #282828;

    width: 400px;
    height: 200px;

    border-radius: 5px;

    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.ui-dialog-shrim {

    display: flex;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0,0,0,0.6);
    cursor: default;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 800;

    backdrop-filter: blur(2px);

}

.ui-dialog-buttons {

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;

    padding: 10px 20px;
    gap: 10px;

    /* background: #313131; */
    border-radius: 0 0 5px 5px;

}

.ui-dialog-buttons .ui-button {

    min-width: 100px;

}

.ui-dialog-title {
    display: flex;
    padding: 10px 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: bold;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.ui-dialog-content {
    display: flex;
    position: relative;
    flex-grow: 1;
    padding: 10px 20px;
    padding-top: 5px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.ui-dialog-content > .ui-dialog-view {

    display: flex;
    flex-grow: 1;

}

.ui-dialog-upper {

    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: stretch;

}

.ui-dialog-right {

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: stretch;

}

.ui-dialog-icon {
    width: 100px;
    margin: 20px;
}

.ui-open-file-dialog,
.ui-save-file-dialog,
.ui-create-project-dialog {

    width: 700px;
    height: 400px;

}

.ui-save-file-dialog .ui-dialog-title input[type='text'],
.ui-create-project-dialog .ui-dialog-title input[type='text'] {
    flex-grow: 1;
    margin-left: 20px;
}

.ui-save-file-dialog .ui-file-picker,
.ui-open-file-dialog .ui-file-picker,
.ui-open-file-dialog .ui-project-template-picker {

    flex-grow: 1;

}

.ui-open-file-dialog .ui-dialog-title {
    display: none;
}

.ui-dialog-fade-enter-active.ui-dialog-shrim,
.ui-dialog-fade-leave-active.ui-dialog-shrim {
    transition: opacity .5s, backdrop-filter .5s;
}

.ui-dialog-fade-enter.ui-dialog-shrim,
.ui-dialog-fade-leave-to.ui-dialog-shrim {
    opacity: 0;
    backdrop-filter: none;
}

.ui-dialog-fade-enter-active > .ui-dialog,
.ui-dialog-fade-leave-active > .ui-dialog {
    transition: transform .5s;
}

.ui-dialog-fade-enter > .ui-dialog,
.ui-dialog-fade-leave-to > .ui-dialog {
    transform: scale(0.8);
}

.ui-dialog-input input[type='text'] {
    width: 100%;
    margin-top: 20px;
}


.ui-file-picker {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

}

.ui-file-picker-toolbar {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;

}

.ui-file-picker-content {

    display: block;
    position: relative;
    flex-grow: 1;

    overflow-y: auto;

}

.ui-file-picker-content .ui-list {

    margin: 0 -10px;

}

.ui-file-picker-location {

    margin-left: 20px;
    min-width: 200px;
    justify-content: flex-start;

}

.ui-scroll {

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;

}

.invisible {
    display: none !important;
}

.ui-dialog-project-settings {

    min-height: 500px;
    min-width: 300px;

}

.ui-form {

    display: block;

}

.ui-form-heading {
    display: block;
    font-weight: bold;
    margin-top: 20px;
}

.ui-form-entry {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

}

.ui-form-entry > .ui-text {

    width: 120px;
    margin: 5px 0;
    margin-right: 15px;

}

.ui-form-entry > .ui-button {

    min-width: 200px;
    justify-content: flex-start;
    margin: 2px 0;

}

.mini-toolbar {

    position: absolute; 
    display: flex;
    top: 0; 
    right: 0;
    left: 0;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

}

.mini-toolbar .ui-button {

    padding: 2px 10px;

}

.ui-memory-editor .section-selector > .ui-icon {
    order: 2;
    margin-left: 5px;
    margin-right: 0;
    margin-top: -2px;
}

.ui-memory-editor .editor {

    margin-top: 1.6em;
    height: calc(100% - 1.6em);

}

.ui-find-menu {

    display: flex;
    border-radius: 5px;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 5px 0;
    min-width: 150px;
    box-shadow: 0 0 5px var(--ui-shadow-color);
    background: #313131;
    z-index: 1000;

    position: absolute;
    top: 0;
    left: 0;

    height: 200px;

}

.ui-find-menu input {

    display: block;
    margin: 1px 5px;
    margin-bottom: 5px;

}


.ui-markdown-view {
    display: block;
    padding: 20px 25px;
}

.ui-markdown-view h1 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1.5em;
    line-height: 1.2em;
}

.ui-markdown-view h2 {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1.3em;
}

.ui-markdown-view p {
    margin: 10px 0;
}

.ui-markdown-view a {
    color: #6498CE;
    cursor: pointer;
}

.ui-markdown-view li {
    margin-bottom: 2px;
}

.ui-projects-list {

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

}

.ui-list-item-project {

    width: 200px;
    /* height: 50px; */

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

}

.ui-list-item-project .ui-text {
    display: block;
}

.ui-list-item-project .ui-text.title {
    font-weight: bold;
    margin-bottom: 5px;
}

.ui-list-item-project .ui-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
}

.ui-manual-browser {

    display: block;
    position: relative;
    height: 100%;
    width: 100%;

}

.ui-manual-browser .chapter-selector > .ui-icon {
    order: 2;
    margin-left: 5px;
    margin-right: 0;
    margin-top: -2px;
}

.ui-manual-browser .chapter-selector > .ui-text {
    overflow: hidden;
    height: 1em;
    text-overflow: ellipsis;
}

.ui-manual-browser .ui-scroll {

    top: 1.5em;

}

.ui-microcode-assistant {
    position: relative;
    width: 100%;
    height: 100%;
}


.ui-code-hint-microcode {
    padding: 5px 10px;
}

.ui-code-hint-microcode strong {
    font-weight: normal;
}

.ui-code-hint-microcode .next-line {
    display: block;
    font-size: 0.9em;
    text-align: right;
}

.ui-code-hint-microcode table {
    font-size: 0.8em;
    margin-top: 5px;
    margin-bottom: 5px;
    border-spacing: 0;
    line-height: 1.2em;
}

.ui-code-hint-microcode th,
.ui-code-hint-microcode td {
    width: 13px;
    text-align: center;
    vertical-align: top;
    font-weight: normal;
}

.ui-code-hint-microcode tr th:nth-child(4n),
.ui-code-hint-microcode tr td:nth-child(4n) {
    margin-right: 10px;
    display: inline-block;
}

.ui-schema {

    display: flex;
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.ui-form-composer {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    flex-grow: 1;
}

.ui-memory-edit-dialog .pre-text {

    padding-right: 5px;

}

.ui-memory-edit-dialog input {

    text-align: right;
    flex-grow: 1;

}

/* CM Styles */
.breakpoints {

    width: .8em;
    margin-left: 5px;

}
.breakpoint { 

    color: #A85D5F; 
    font-size: 1.5em;

}

.debug-infos {

    width: .8em;
    margin-right: 5px;

}
.debug-info { 

    color: #6498CE; 
    font-size: 1.5em; 

}

.stack-pointer { 

    color: #41706C; 
    font-size: 1.5em; 

}

.base-pointer { 

    color: #A59550; 
    font-size: 1.5em; 

}

.return-pointer {
    color: #915076; 
    font-size: 1.5em; 
}

.symbol {

	display: block;
	width: 100%;
    padding-left: 3px;
	overflow: hidden;
    color: #6498CE; 
    text-overflow: ellipsis;

}

.addresses {

    width: 60px;
    overflow: hidden;

}

.symbols {

	width: 80px;
    overflow: hidden;
    margin-right: 3px;

}


.comment {

	color: #98C892;
	padding: 5px 5px;

}

.asmlinters {

	width: 20px;

}
.linter {
    width: 20px;
}
.analysis {
    width: 20px;
}
.CodeMirror-gutter-elt {
    text-align: center !important;
}

.lint-info {
    font-size: 1.1em;
    padding: 0 5px;
    color: #6498CE;
}
.lint-undefined {
    font-size: 1.1em;
    padding: 0 5px;
    color: #A59550;
}
.lint-error {
    font-size: 1.1em;
    padding: 0 5px;
    color: #A85D5F;
}
.lint-import,
.lint-macro-invocation {
    font-size: 1.1em;
    padding: 0 4px;
    color: #8b8b8b;
    border-radius: 100%;
}
.lint-macro {
    font-size: 1.1em;
    padding: 0 4px;
    background: #A59550;
    color: #242120;
    border-radius: 100%;
}
.lint-subroutine {
    font-size: 1.1em;
    padding: 0 4px;
    background: #6498CE;
    color: #242120;
    border-radius: 100%;
}
.lint-variable {
    font-size: 1.1em;
    padding: 0 4px;
    background: #915076;
    color: #242120;
    border-radius: 100%;
}

.linter-warning {

	background: #B5A764;
	padding: 5px 1px;

}

.linter-error {

	background: #A85D5F;
	color: #242120;
	padding: 1px 4px;

	border-radius: 100%;

}

.section-start {

    padding: 5px 5px;
    color: #915076;

}


.CodeMirror-gutters {

    background: #1F1F1F !important;
    border-right: none !important;

}

.CodeMirror-linenumbers {
	min-width: 65px;
}


.cm-keyword {
	color: #E5E5E5 !important;
}

.cm-number {
	color: #A85D5F !important;
}

.cm-variable {
	color: #6498CE !important;
}

.cm-hover .cm-variable:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cm-comment {
	color: #41706C !important;
}

.cm-halt {
	color: #A59550 !important;
}

.cm-ds {
	color: #915076 !important;
}

.cm-macro {
	color: #A59550 !important;
}

.cm-macro-variable {
	color: #915076 !important;
}

.cm-bracket {
	color: #8B8B8B !important;
}

.cm-address {
	color: #8B8B8B !important;
}

.cm-include {
	color: #8B8B8B !important;
}

.cm-micro-read {
    color: #6498CE !important;
}

.cm-micro-write {
    color: #A85D5F !important;
}

.cm-micro-next {
    color: #8B8B8B !important;
}

.cm-micro-flag {
    color: #915076 !important;
}

@keyframes list-item-spring {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes table-row-spring {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1.01);
    }
    100% {
      transform: scale(1);
    }
  }

/* Graphic Schema */
rect.register {
    fill: transparent;
    stroke: #8B8B8B;
}

rect.register.write {
    stroke: #A85D5F;
}
rect.register.read {
    stroke: #6498CE;
}
text.register {

    font: 6px "Helvetica",sans-serif;
    fill: #e5e5e5;

}
line.bus {

    stroke: #8b8b8b;
    stroke-width: 2;

}
line.bus.read,
line.bus.write {
    stroke: #A85D5F;
}
polygon.unit {
    fill: transparent;
    stroke: #8b8b8b;
}
rect.unit {
    fill: transparent;
    stroke: #8b8b8b;
}
text.unit {

    font: 4px "Helvetica",sans-serif;
    fill: #e5e5e5;

}
polygon.unit.use {
    stroke: #98C892;
}
line.connection {
    stroke: #8b8b8b;
    stroke-width: 1;
}
line.connection.read {
    stroke: #6498CE;
}
line.connection.write {
    stroke: #A85D5F;
}